@font-face {
   font-family: 'NunitoSans';
   src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
}

@font-face {
   font-family: 'NunitoSans';
   src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
   font-weight: bold;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'NunitoSans', sans-serif;
}

#home {
   position: relative;
   background-image: url('../img/fundo_banner.png');
   color: #FFF9D8;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

#home h1,
#home h2 {
   font-weight: bold;
}

.doidera {
   min-height: 600px;
}

.btn {
   border-radius: 200px;
   box-shadow: 2px 2px 16px #F6AB39;
}

#vantagens,
#parceiros {
   color: #3D2A0D;
   background-color: #FFFEF8;
}

.btn-lg {
   text-align: center;
   letter-spacing: 3.2px;
   line-height: 55px;
   font-weight: bold;
}

#slider p, h3 {
   color: #3D2A0D;
}


#slider p {
   opacity: .6;
}

#vantagens h2,
#parceiros h2 {
   font-weight: bold;
}

.fas {
   color: #3D2A0D;
}

.carrossel {
   min-height:1px;
   overflow:hidden;
   display:block;
}

.carrossel h3 {
   font-weight: bold;
}

.inline-block {
   display: inline-block;
}

.carrossel-control {
   margin: -10px;
}

.carousel .carousel-indicators li {
   background-color:rgba(246, 171, 57, .3);
   border-radius: 50%;
   height: 20px;
   width: 20px;
}

.carousel .carousel-indicators .active {
   background-color: #F6AB39;
}

.carousel .carousel-indicators li:hover {
   background-color: #F6AB39;
}

#parceiros .fas {
   color: #F6AB39;
   opacity: .3;
}

#main-footer h4 {
   font-weight: bold;
}

#main-footer p {
   opacity: .3;
}

#last-footer p {
   font-weight: bold;
   opacity: .5;
}