@font-face {
   font-family: 'NunitoSans';
   src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
}

@font-face {
   font-family: 'NunitoSans';
   src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
   font-weight: bold;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'NunitoSans', sans-serif;
}

#home {
   position: relative;
   background-image: url('../img/fundo_banner.png');
   color: #FFF9D8;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

#home h1,
#home h2 {
   font-weight: bold;
}

.doidera {
   min-height: 600px;
}

.btn {
   border-radius: 200px;
   box-shadow: 2px 2px 16px #F6AB39;
   color: #fff;
   letter-spacing: 3.2px;
   font-weight: bold;
   text-align: center;
   line-height: 30px;
}

#vantagens,
#planos {
   color: #3D2A0D;
   background-color: #FFFEF8;
}

.btn-lg {
   line-height: 55px;
}

#slider p, h3 {
   color: #3D2A0D;
}


#slider p {
   opacity: .6;
}

#vantagens h2,
#parceiros h2,
#planos h2,
#planos h3,
#contato h2 {
   font-weight: bold;
}

.fas {
   color: #3D2A0D;
}

.carrossel {
   min-height:1px;
   overflow:hidden;
   display:block;
}

.carrossel h3 {
   font-weight: bold;
}

.inline-block {
   display: inline-block;
}

.carrossel-control {
   margin: -10px;
}

.carousel .carousel-indicators li {
   background-color:rgba(246, 171, 57, .3);
   border-radius: 50%;
   height: 20px;
   width: 20px;
}

.carousel .carousel-indicators .active {
   background-color: #F6AB39;
}

.carousel .carousel-indicators li:hover {
   background-color: #F6AB39;
}

#parceiros .fas {
   color: #F6AB39;
   opacity: .3;
}

#planos {
   background-color: #FFFEF8;
}

.principal {
   font-size: 40px;
}

.secundario {
   font-size: 15px;
}

.plano-normal {
   box-shadow: 2px 2px 16px #F6AB3933;
   border-radius: 6px;
}

.separador {
   background: #FFF9D8 0% 0% no-repeat padding-box;
   opacity: 0.1;
   height: 2px;
}

.plano-normal p {
   font-size: larger;
   opacity: .5;
}

#telefone span {
   opacity: .2;
   letter-spacing: 2.4px;
}

#endereco {
   background: url("../img/fundo_endereço.png");
   background-repeat: no-repeat;
   background-size: cover;
}

#main-footer h4 {
   font-weight: bold;
}

#main-footer p {
   opacity: .3;
}

#contato {
   background-color: #FFFCEC;
}

#contato h2, p {
   color: #3D2A0D;
}

#contato .fas {
   color: #F6AB39;
}

#last-footer p {
   font-weight: bold;
   opacity: .5;
}

.opacity-5 {
   opacity: .5;
}