html {
    scroll-behavior: smooth;
}

body {
    background: #333;
    color: #fff;
}

.navbar {
    border-bottom: #267ed6 3px solid;
    opacity: 0.8;
}

#home-section {
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section .overlay-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0, 0, 0, 0.7);
}

#home-section .home-content {
    padding-top: 150px;
}

#home-section .card-form {
    opacity: 0.8;
}

#home-section .fa-check, 
#crie-section .fa-check  {
    color: #267ed6;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

#explore-section .fa-check, 
#compartilhe-section .fa-check {
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
